@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    
      
      .navbar-li>li{
        margin-left: 20px !important;
      }
  
      .hero-heading-padding {
        padding: 230px 0px 10px 55px !important;
    }
    .hero-img {
      width: 900px !important;
      height: 653px !important;
      margin-top: 50px !important;

    }   
    .whylof-img {
      width: 760px !important;
     height: 495px !important;
      margin-top: 84px !important;
    }
    .lof-plateform-heading-padding{
      padding: 165px 0px 10px 50px!important;
    }
    .lofplateform-img {
     height: 671px !important ;
      width: 1030px !important;
      margin-top: 145px !important;
    }
    .lofplatform-img-2 {
      height: 608px !important;
      width: 915px !important;
    }
    .slider-div p{
      padding-right: 0px !important;
    }
    .dashbored-padding {
      padding: 200px 0px 0px 0px !important;
    }
    .dash-pad {
      padding-left: 50px !important;
      padding-top: 35px !important;
  }
  .dashbored-img {
    width: 900px !important;
    height: 521px !important;
    margin-top: 50px !important;
  }
  .whitepaper-heading{
    font-size: 50px !important;
    line-height: 70px !important;
  }
  .whitepaper-img {
    width: 1020px !important;
    height: 635px !important;
    margin-top: 135px !important;
  }
  .team-sec{
    background: url() !important;
  }
  .team-img{
    display: block !important;
    margin-left: 150px !important;
  }
  .mench-img {
    width: 870px !important;
    height: 617px !important ;
    margin-top: 50px !important;
  }
  .team-heading {
    font-size: 66px !important;
  } 
  





  }

