@media only screen and (max-width: 600px) {
 

  .bullet-1{
    line-height: 1!important;
  }
  .bullet-2{
    line-height: 1!important;
  }
  .bullet-3{
    line-height: 1!important;
  }
  .bullet-4{
    line-height: 1!important;
  }
  .bullet-5{
    line-height: 1!important;
  }
  .bullet-6{
    line-height: 1!important;
  }
  .bullet-7{
    line-height: 1!important;
  }
  
  .team-paragraph{
margin-top: 0px!important;
  }
  .team-heading{
    line-height: 70px!important;
  }
  .feat{
    margin-left: 12px!important;
  }
  .hero-margin {
    margin-top: 65px!important;
  }
  body{
    overflow-x: hidden !important;
  }
  .hero-heading-padding {
    padding: 0px 0px 10px 15px !important;
}
.white-heading-padding {
  padding: 0px 0px 10px 15px !important;
}
.main-heading{
  font-size: 57px !important;
}
.sub-heading{
  width: 100% !important;
}
.hero-paragrah{
  width: 96% !important;
  font-size: 19px !important;
}
.hero-img{
  width: 100%!important;
    height: auto !important;
}
.whylof-img{
  width: 100%!important;
    height: auto !important;
}
.lof-plateform-heading-padding{
  padding: 0px 16px 0px 16px !important;
}
.lof-section-margin{
  display: flex;
  flex-direction: column-reverse;
}

.lof-plateform-heading{
  width: 100% !important;
  font-size: 54px !important;
}
.lof-platfrom-heading-margin {
  width: 100% !important;
}
.lof-plateform-paragraph {
  width: 100% !important;
}
.lofplateform-img{
  width: 100% !important;
  height: auto !important;
  margin-left: -10%!important;
}
.lofplatform-img-2{
  width:100% !important;
  height: auto !important;
  margin-top: 100px !important;
}
.lof-platform2-mbl{
  display: flex;
  flex-direction: column-reverse;
}
.token-padding{
  padding: 0px 16px 0px 16px !important;

}
.token-span {
  margin-left: 0px !important;
}
.token-heading {
  font-size: 58px !important;
}
.token-sub {
  font-size: 20px !important;
}
.token-box1{
  margin-bottom: 70px !important;
}
.token-heading-2{
  font-size: 27px !important;
}
.token-points {
  padding: 16px !important;
}
.token-heading-1{
  font-size: 75px !important;
  margin-top: 0px !important;
}
#faqs .qa-pairs dt{
  font-size: 28px !important;
  font-weight: 400 !important;
  padding: 22px 54px 12px 24px !important;
}
.dashbored-padding{
  margin: 0px 0px 0px 0px !important;
}
.dash-pad {
  padding: 0px 16px 0px 16px !important;
}
.dashbored-img{
  width: 100%!important;
    height: auto !important;
    margin-left: 0px !important;
    margin-top: 70px !important;
}
.roadmap-padding{
  padding: 0px 0px 0px 0px !important;
}

.whitepaper-heading{
  font-size: 57px !important;
  line-height: 70px !important;
}
.whitepaper-paragrph{
 width: 100% !important; 
}
.whitepaper-img{
  width: 100%!important;
    height: auto !important;
}
.mench-heading{
  width: 100% !important;
  font-size: 54px !important;
  line-height: 63px !important;
}
.mench-paragraph{
  width: 100% !important;
}
.mench-img{
  width: 100% !important;
    height: auto !important;
    margin-top: 70px !important;
}
.mench-padding{
  padding-left: 15px !important;
}
.team-sec{
 background: url() !important;
 background-repeat: no-repeat !important;
 background-size: cover !important;
height: 1620px !important;
}
.team-heading{
  font-size: 55px !important;
}
.contct-txt h1 {
  margin-top: 50px !important;
  font-size: 47px !important;
}
.field{
  width: 335px !important;
  margin-bottom: 10px !important;
}
.section-special{
  padding: 0px 0px 0px 0px !important;
}
.slider-container .slide-content.txt{
  padding: 8rem 1rem !important;
}
.merch-mbl{
  display: flex;
  flex-direction: column-reverse;
}
.team-img{
  display: block !important;
}
.social-div{
  display: none !important;
}
.slide-head{
  font-size: 20px !important;
}
.section-special{
  height: auto !important;
}
.lof-section-margin{
  margin-top: 100px !important;
}
.lof-plateform-heading{
  margin-top: 100px !important;
}
.br-hide{
  display: none !important;
}
.contct-txt > h2{
  font-size: 50px !important;
} 
.slider-container .slide-content .txt-wrapper span.copy{
  font-size: 3.5rem !important;
}
.slider-container .slide-content .txt-wrapper .subtitle{
  font-size: 2rem !important;
}
.slider-container .slide-content.txt{
padding: 10px !important;
}


.slider-div p{
  padding-left: 18px !important;
  padding-right: 0px !important;
}
.owl-theme .owl-nav.disabled + .owl-dots{
  margin-right: 30px !important;
}
.token-heading{
  margin-top: 100px !important;
}
.all-round{
  font-size: 21px !important;
}
.slider-container .slide-content .txt-wrapper p.excerpt{
  padding-right: 14px !important;
  font-size: 16px !important;
  margin-bottom: 20px !important;
}
.dash-margin{
  margin-top: 100px !important;
}
.whitepaper-padding-top{
  padding-top: 100px !important;
}
.feature-margin{
  margin-top: 100px !important;
}
.point-heading {
font-size: 25px !important ;
}
.p-timeline-content p {
line-height: 20px !important ;
}
#top-button{
  bottom: 65px !important;
  right: 15px !important;
}
.top-btn{
  bottom: 65px !important;
  right: 15px !important;
}
nav{
  margin-left: 0px !important;
}
.brand{
padding: 0px !important;
}
.cntct-mbl{
  height: 950px !important;
}
.partner-padding-top{
  margin-top: 0px !important;
}
.mench-padding {
  margin-top: 140px !important;
}
.partn-non{
  display: none;
}
.partn-mbl{
  display: block !important;
}
.team-sec{
  margin-top: 30px !important;
}
.roadmap-section-padding{
  margin-top: 100px !important;
}
.brand{
  margin-left: 20px !important;
}
.point-heading {
  font-size: 25px !important;
}
.mbl-set{
  display: flex !important;
  flex-direction: column-reverse !important;
}
.chart-mbl{
  margin-top: 70px !important;
}
#faqs .qa-pairs dt{
  font-size: 24px !important;
}
.dash-pad {
  padding-top: 0px !important;
}
.dash-margin {
  margin-top: 80px !important;
} 
.btn3{
  margin-top: 20px !important;
}
.btn2{
  margin-top: 20px !important;
}
.foter-icon{
  display: block !important;
}
}

@media only screen 
  and (min-device-width: 610px) 
  and (max-device-width: 730px){
    .sub-heading{
      width: 95% !important;
    }
    .dashbored-padding {
      margin: 0px 0px 0px 0px !important;
  }
  .dash-pad {
    padding-top: 0px !important;
  }
  .point-heading {
    font-size: 25px !important;
}
.brand{
  margin-left: 20px !important;
}
.white-heading-padding {
  padding: 120px 0px 10px 32px !important;
}
.whitepaper-paragrph {
  width: 90% !important;
}
.hero-heading-padding {
  padding: 81px 0px 10px 31px !important;
}   
.main-heading{
  font-size: 75px !important;
}  
.hero-paragrah{
  width: 86% !important;
  font-size: 18px !important;
  line-height: 25px !important;
}
.hero-btns{
  width: 101% !important;
}
.sub-heading{

  font-size: 20px !important;
}
.hero-img{
  width: 100% !important;
  height: auto !important;
}
.lof-plateform-paragraph {
  width: 100% !important;
}
.lof-plateform-heading{
  width: 100% !important;
}
.lof-platfrom-heading-margin {
  width: 100% !important;
}
.lof-section-margin{
  display: flex;
  flex-direction: column-reverse;
}
.lof-plateform-heading-padding{
  padding: 0px 16px 0px 16px !important;
}
.whylof-img{
  width: 100% !important;
  height: auto !important;
}
.lofplateform-img{
  width: 100% !important;
  height: auto !important;
  margin-top: 50px !important;
}
.lof-platform2-mbl{
  display: flex;
  flex-direction: column-reverse;
}
.br-hide{
  display: none !important;
}
.dash-margin {
  margin-top: 80px !important;
}
.lofplatform-img-2{
  width: 100% !important;
  height: auto !important;
}
.token-heading{
  font-size: 100px !important;
}
.dashbored-img{
  width: 100% !important;
  height: auto !important;
  margin-left: 0px !important;
  margin-top: 70px !important;
}

.whitepaper-img{
  width: 100% !important;
  height: auto !important;
}
.team-sec{
  background: url() !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
 height: 1620px !important;
 }
 .mench-img{
  width: 100% !important;
  height: auto !important;
  margin-top: 70px !important;
 }
 .mench-heading{
  width: 100% !important;
  
}
.mench-paragraph{
  width: 100% !important;
}
.merch-mbl{
  display: flex;
  flex-direction: column-reverse;
}
 .team-img{
  display: block !important;
}
.field{
  margin-bottom: 20px;
}
.text-area{
  width: 68% !important;
}
.section-special{
  height: auto !important;
  /* margin-top: 100px !important; */
  margin-bottom: 50px !important;
}
.links-mbl{
  display: flex !important;
  justify-content: center !important;
}
.slider-container .slide-content.txt{
  padding: 10px !important;
  }
  .btn2{
    margin-top: 20px !important;
  }
  .btn3{
    margin-top: 20px !important;
  }
  .token-bar-content {
    padding: 15px 0px 0px 0px !important;
}
.mbl-set{
  display: flex !important;
  flex-direction: column-reverse !important;
}
.chart-mbl{
  margin-top: 70px !important;
}
#faqs .qa-pairs dt{
  font-size: 24px !important;
}
.foter-icon{
  display: block !important;
}
}




@media only screen 
  and (min-device-width: 740px) 
  and (max-device-width: 1024px){
    .hero-heading-padding {
      padding: 81px 0px 10px 31px !important;
    }   
    .main-heading{
      font-size: 75px !important;
    }  
    .hero-paragrah{
      width: 90% !important;
      font-size: 18px !important;
      line-height: 25px !important;
    }
    .hero-btns{
      width: 101% !important;
    }
    .sub-heading{
     width: 135% !important;
      font-size: 20px !important;
    }
    .hero-img{
      width: 100% !important;
      height: auto !important;
    }
    .lof-plateform-paragraph {
      width: 100% !important;
    }
    .lof-plateform-heading{
      width: 100% !important;
    }
    .lof-platfrom-heading-margin {
      width: 100% !important;
    }
    .lof-section-margin{
      display: flex;
      flex-direction: column-reverse;
    }
    .lof-plateform-heading-padding{
      padding: 0px 16px 0px 16px !important;
    }
    .whylof-img{
      width: 100% !important;
      height: auto !important;
    }
    .lofplateform-img{
      width: 100% !important;
      height: auto !important;
    }
    .lof-platform2-mbl{
      display: flex;
      flex-direction: column-reverse;
    }
    .lofplatform-img-2{
      width: 100% !important;
      height: auto !important;
    }
    .token-heading{
      font-size: 100px !important;
    }
    .dashbored-img{
      width: 100% !important;
      height: auto !important;
      margin-left: 0px !important;
    }
    .whitepaper-paragrph{
     width: 100% !important; 
    }
    .whitepaper-img{
      width: 100% !important;
      height: auto !important;
    }
    .team-sec{
      background: url() !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
     height: 1620px !important;
     }
     .mench-img{
      width: 100% !important;
      height: auto !important;
     }
     .mench-heading{
      width: 100% !important;
      
    }
    .mench-paragraph{
      width: 100% !important;
    }
    .merch-mbl{
      display: flex;
      flex-direction: column-reverse;
    }
     .team-img{
      display: block !important;
    }
    .field{
      margin-bottom: 20px;
    }
    .text-area{
      width: 68% !important;
    }
    .section-special{
      height: auto !important;
      margin-top: 100px !important;
      margin-bottom: 100px !important;
    }
    .links-mbl{
      display: flex !important;
      justify-content: center !important;
    }
    .slider-container .slide-content.txt{
      padding: 10px !important;
      }
     
}
@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1259px){
    .hero-heading-padding {
      padding: 230px 0px 10px 17px !important;
  }
  .main-heading{
    font-size: 77px !important;
    line-height: 70px !important;
  }
  .sub-heading{
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .hero-img {
    width: 670px !important;
    height: 487px !important;
    margin-top: 130px !important;
  }
  .hero-paragrah{
    font-size: 15px !important;
    line-height: 23px !important;
  }
  .lof-section-paragraph{
    margin-top: 15px !important;
    line-height: 25px !important;
    font-size: 15px !important; 
  }
  .main-heading-lof-section{
    font-size: 35px !important;
  line-height: 25px !important;

  }
  .whylof-img {
    width: 660px !important;
    height: 429px !important;
  }
  .lof-plateform-heading{
    font-size: 33px !important;
    line-height: 25px !important; 
  }
  .lof-plateform-heading-padding {
    padding: 130px 0px 10px 35px !important;
}
.lof-platfrom-heading-margin{
  font-size: 12px !important;
  margin-top: 0px !important;
  line-height: 25px !important;
}
.lof-plateform-paragraph {
  font-size: 12px !important;
  margin-top: 0px !important;
  line-height: 25px !important;
}
.lofplateform-img {
  width: 750px !important;
  height: 470px !important;
  margin-top: 60px !important;
}
.lofplatform-img-2 {
  width: 750px !important;
  height: 498px !important;
  margin-top: 90px;
}
.token-heading{
  font-size: 145px !important;
}
.slider-div p{
  padding-right: 0px !important;
}
.slider-container .slide-content .txt-wrapper .subtitle{
  line-height: 80px !important;
}
.dashbored-img{
  width: 700px !important;
  height: 404px !important;
  margin-left: -90px !important;
  margin-top: 120px !important;
}
.dash-body-mar{
  line-height: 25px !important;
  width: 107% !important; 
}
.dash-paragraph{
  line-height: 25px !important;
  width: 107% !important; 
  margin-top: 10px !important;
    
}
.whitepaper-img{
  width: 830px !important;
  height: 516px !important;
  margin-top: 80px;
}
.whitepaper-heading {
  font-size: 30px !important;
  line-height: 50px !important;
  
}
.br-hide{
  display: none !important;
}
.whitepaper-paragrph{
  width: 200% !important;
  line-height: 30px !important;
}
.team-heading {
font-size: 45px !important;
}
.mench-img{
  width: 780px !important;
  height: 555px !important;
}
.mench-heading{
  font-size: 44px !important;
  line-height: 60px !important;
}
.set-resp{
  width: 67% !important; 
}
.contact-pad{
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.section-special {
  height: 550px !important;
}
}
@media only screen 
  and (min-device-width: 1260px) 
  and (max-device-width: 1399px){
    .hero-heading-padding {
      padding: 230px 0px 10px 40px !important;
  }
  .hero-img {
    width: 800px !important;
    height: 581px !important;
    margin-top: 212px !important;

  }
  .main-heading {
    font-size: 90px !important;
  }
  
.sub-heading {
  font-size: 25px !important;
}
.whylof-img {
  width: 775px !important;
  height: 503px !important;
  margin-top: 122px !important;  
}

.lof-plateform-heading-padding {
  padding: 165px 0px 10px 50px !important;
}
.lofplateform-img {
  width: 910px !important;
  height: 581PX !important;
  margin-top: 218px !important;
}
.lofplatform-img-2 {
  width: 815px !important;
  height: 541PX !important;
}
.slider-container .slide-content .txt-wrapper .subtitle{
  line-height: 80px !important;
}
.slider-div p{
  padding-right: 0px !important;
}
.dashbored-padding {
  padding: 200px 0px 0px 0px !important;
}
.dash-pad {
  padding-left: 50px !important;
}
.dashbored-img {
  width: 815px !important;
  height: 472px !important;
  margin-top: 100px !important;
}
.whitepaper-heading{
  font-size: 40px !important;
  line-height: 84px !important;
  line-height: 70px !important;
}
.whitepaper-img {
  width: 930px !important;
 height: 579px !important;
  margin-top: 142px !important;
}
.team-heading{
  font-size:57px !important ;
}
.team-sec{
  background-position: bottom !important;
}
.mench-img {
    width: 815px !important;
    height: 579px !important;
    margin-top: 120px !important;

  }
  .mench-heading {
    font-size: 79px !important ;
    line-height: 97px !important;
  }
  .contact-pad{
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
@media only screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 1599px){
    .slider-container .slide-content .txt-wrapper .subtitle{
      line-height: 80px !important;
    }
    .contact-pad{
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
  }
@media only screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 1850px){
    .whylof-img{
      width: 990px !important;
      height: 613px !important;
    }
    .whitepaper-heading {
      line-height: 70px !important;
      font-size: 60px !important;
    }
  }



/***************** lof *******************/
@media screen and (max-width: 1900px) {
  .navbar-header {
      float: none !important;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block !important;
  }
  .navbar-collapse {
      border-top: 1px solid transparent !important;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1) !important;
  }
  .navbar-fixed-top {
      top: 0 !important;
      border-width: 0 0 1px !important;
  }
  .navbar-collapse.collapse {
      display: none!important ;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px !important;
  }
  .navbar-nav>li {
      float: none !important;
   }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  }
  @media only screen 
  and (min-device-width: 2500px) {
.col-xxl-6{
  width: 50% !important;
}
.navigation{
  display: flex !important;
  justify-content: center;
}
#hero{
  display: none !important;
}
.hero-4k{
  display: block !important;
  margin-top:200px ;
}
.content-4k{
display: flex;
align-items: center;
}
#whatlof{
  display: none !important;
}
.cont-4k{
  width: 2000px !important;
}
#lof-plt{
  display: none !important;
}
.tok-non{
  display: none !important;
}
.tokn-4k{
  display: block !important;
}
.dash-non{
  display: none !important;
}
  }





/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}

/* ----------- Nexus 4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 384px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 384px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 384px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- Nexus 5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- Nexus 6 and 6P ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {

}

/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}

/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {

}